    <div class="form-group">
    <div class='input-group date'>
      {{#if iconOnRight}}
          <input type='text' {{bind-attr placeholder=placeholder}} class="form-control" />
          <span class="input-group-addon">
            <span class="glyphicon glyphicon-calendar"></span>
          </span>
      {{else}}
          <span class="input-group-addon">
            <span class="glyphicon glyphicon-calendar"></span>
          </span>
          <input type='text' {{bind-attr placeholder=placeholder}} class="form-control" />
      {{/if}}  
    </div>
  </div>