{{outlet}}
<br/>
<div class="appointment-details row">

<button {{action "edit"}}>Edit</button>
<button {{action "delete"}}>Delete</button>
{{#if deleteMode}}
<div class="confirm-box">
<h4>Really?</h4>
<button {{action "confirmDelete"}}> yes </button>
<button {{action "cancelDelete"}}> no </button>
</div>
{{/if}}

<h2>Appointment Name: {{name}}</h2>
<p>Start Date: {{startDate}}</p>
<p>End Date: {{endDate}}</p>
<button {{action "task" task.id}}>View Task</button>


</div>