{{outlet}}
{{#link-to "appointments.create" class="create-btn"}} Add appointment {{/link-to}}
  <div class="panel-group" id="appointment-group">
  
    {{#each appointment in controller}}
        <div class="panel panel-default" id="panel1">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a class='btn-block' data-toggle="collapse" data-target="#appointment-{{unbound appointment.id}}" href="#/appointments">
		    {{appointment.name}}
        </a>
      </h4>
    </div>
    <div id="appointment-{{unbound appointment.id}}" class="panel-collapse collapse">
      <div class="panel-body">
          <div class="row">
        </div>
<button {{action "appointment" appointment.id}}>View Appointment</button>
<button {{action "task" appointment.task.id}}>View Task</button>
		
      </div>
    </div>
  </div>
  {{/each}}
  </div>