{{outlet}}
{{#link-to "tasks.create" class="create-btn"}} Add task {{/link-to}}
  <div class="panel-group" id="task-group">
  
    {{#each task in controller}}
        <div class="panel panel-default" id="panel1">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a class='btn-block' data-toggle="collapse" data-target="#task-{{unbound task.id}}" href="#/tasks">

		  {{task.name}}
        </a>
      </h4>
    </div>
    <div id="task-{{unbound task.id}}" class="panel-collapse collapse">
      <div class="panel-body">
      <button {{action "task" task.id}}>View task</button>
      </div>
    </div>
  </div>
  {{/each}}
  </div>