{{outlet}}

<div class="task-details">
<button {{action "edit"}}>Edit</button>
<button {{action "delete"}}>Delete</button>
{{#if deleteMode}}
<div class="confirm-box">
<h4>Really?</h4>
<button {{action "confirmDelete"}}> yes </button>
<button {{action "cancelDelete"}}> no </button>
</div>
{{/if}}

<h2>Task Name: {{name}}</h2>
<p>Start Date: {{startDate}}</p>
<p>End Date: {{dueDate}}</p>
<h4>Related Appointments</h4>
{{#each appointments}}
<li>{{name}}</li>
<button {{action "appointment" id}}>View Appointment</button>
{{/each}}


</div>