<div class="task-edit">
<h2>name: {{input value=name}}</h2>
 <p>Start Date: <br/>{{datetime-picker datetime=startDate}}</p>
  <p>Due Date: <br/>{{datetime-picker datetime=dueDate}}</p>
<button {{action "save"}}> ok </button>
</div>