<div class="appointment-edit row">
  <h2>Appointment name: {{input type="text" value=name}}</h2>
  <p>Start Date: <br/>{{datetime-picker datetime=startDate}}</p>
  <p>End Date: <br/>{{datetime-picker datetime=endDate}}</p>

  {{view Ember.Select viewName="select_task"
                    contentBinding=activeTasks
                    optionValuePath="content.id"
                    optionLabelPath="content.name"
                    prompt="No task selected"
                    selectionBinding="task"}}
  <button {{action "save"}}> ok </button>


  </div>